@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #686de0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 1.25em;
}

.container {
	background-color: #fff;
	border-radius: 0.625em;
	box-shadow: 0 0.625em 1.25em rgba(0, 0, 0, 0.1), 0 0.375em 0.375em rgba(0, 0, 0, 0.1);
	padding: 3.125em 1.25em;
	text-align: center;
	max-width: 100%;
	width: 50em;
}

h3 {
	margin: 0;
	opacity: 0.5;
	letter-spacing: 0.125rem;
}

.joke {
	font-size: 1.875rem;
	letter-spacing: 0.0625rem;
	line-height: 2.5rem;
	margin: 3.125em auto;
	max-width: 37.5em;
}

.btn {
	background-color: #9f68e0;
	color: #fff;
	border: 0;
	border-radius: 0.625em;
	box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.1), 0 0.375em 0.375em rgba(0, 0, 0, 0.1);
	padding: 0.875em 2.5em;
	font-size: 1rem;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.98);
}